<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <h3 class="page-title"><i class="icon-equalizer margin-right-10"></i> Thiết lập thông tin hệ thống</h3>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        Các thông tin thiết lập cụ thể cho từng phòng xét nghiệm tham gia sẽ được trao đổi với PI trong quá trình thực hiện dự án.
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->