<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">23a. Bạn có áp dụng phương cách xét nghiệm nào để chuẩn đoán một trường hợp HIV dương tính? Nêu tên phương cách:</label>
    </div>
    <div class="col-md-12">
        <input type="text" readonly class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">23b. Bạn hãy vẽ sơ đồ chuẩn đoán HIV trong phòng xét nghiệm của bạn (Testing Algorthm) ở trang này (chỉ vẽ nếu bạn có sơ đồ)</label>
    </div>
</div>