<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">13a. Phòng xét nghiệm của bạn có thể làm được các xét nghiệm HIV/AIDS nào?(Bạn có thể đánh dấu nhiều lựa chọn)</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Xét nghiệm huyết thanh học HIV</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">PCR HIV</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">XN kháng thuốc virus HIV</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">CD4</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Đo tải lượng virus HIV</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
    	<label class="bold">XN khác liên quan đến HIV:(ghi rõ)</label>
    	<input type="text" class="form-control">
        <div class="form-group row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-7">
                
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">13b. Phòng xét nghiệm của bạn thường nhận mẫu xét nghiệm HIV từ đâu?(Bạn có thể đánh dấu nhiều lựa chọn)</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Bệnh nhân tự đến</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Bệnh viện</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Cơ sở tư vấn xét nghiệm tự nguyện</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Trung tâm y tế dự phòng</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">TT AIDS</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Bệnh viện tư/phòng khám tư</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">TTYT Tuyến huyện</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
    	<label class="bold">Nơi khác: (ghi rõ)</label>
    	<input type="text" class="form-control">
        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">14. Mục đích chính của XN huyết thanh học HIV trong phòng xét nghiệm của bạn?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">An toàn truyền máu</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Chuẩn đoán</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Cả an toàn truyền máu và chuẩn đoán</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
    	<label class="bold">Khác: (ghi rõ)</label>
    	<input type="text" class="form-control">
        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">15. Trung bình mỗi tuần PXN thực hiện bao nhiêu mẫu xét nghiệm huyết thanh học HIV?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox" hidden>
    </div>
    <div class="col-md-7">
        <div class="form-group row">
            <div class="col-md-3">
                <label class="bold">Ghi số lượng cụ thể: </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">16. Bạn có chuẩn đoán 01 trường hợp là HIV dương tính mà chỉ dựa vào kết quả của 01 xét nghiệm sàng lọc ban đầu là dương tính không?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Có</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Không</label>
    </div>
</div>
<div class="form-group row">
	<div class="col-md-1"></div>
    <div class="col-md-11">
        Nếu có bạn thường dùng xét nghiệm nào để chuẩn đoán (nêu tên sinh phẩm xét nghiệm đầu tiên đó)
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">17. Phòng xét nghiệm của bạn đã được Bộ Y Tế cho phép tự khẳng định các trường hợp HIV dương tính không?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Có</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Không</label>
    </div>
</div>
<div class="form-group row">
	<div class="col-md-1">        
    </div>
    <div class="col-md-3">
        Nếu có tự khẳng định xét nghiệm từ ngày nào?
        <input type="text" class="form-control">
    </div>    
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">18. Nếu phòng xét nghiệm không thực hiện xét nghiệm khẳng định, khi sàng lọc có mẫu dương tính, bạn gửi mẫu đi đâu để xét nghiệm khẳng định?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">19. Bạn hãy nêu tên sinh phẩm hiện trong phòng XN bạn đang sử dụng cho XN HIV:</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2">
        <p class="bold text-center">a. Tên sinh phẩm</p>
    </div>
    <div class="col-md-1">
        <p class="bold text-center">b. Sàng lọc</p>
    </div>
    <div class="col-md-2">
        <p class="bold text-center">c. Khẳng định</p>
    </div>
    <div class="col-md-2">
        <p class="bold text-center">d. Nhà sản xuất</p>
    </div>
    <div class="col-md-2">
        <p class="bold text-center">e. Nhà cung cấp</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-1 text-center">
        <input type="checkbox">
    </div>
    <div class="col-md-2 text-center">
        <input type="checkbox">
    </div>
    <div class="col-md-2 text-center">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-2 text-center">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</button>
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button>
    </div>
</div>
<table class="table table-striped margin-top-20 text-center">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên sinh phẩm</th>
        <th>Sàng lọc</th>
        <th>Khẳng định</th>
        <th>Nhà sản xuất</th>
        <th>Nhà cung cấp</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">20. Trong trường hợp kết quả XN không xác định bạn sẽ làm gì để chuẩn đoán bệnh nhân?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">XN bằng Western Blot</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">XN miễn dịch huỳnh quang</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">XN kháng nguyên</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Phân lập virus</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Hẹn bệnh nhân xét nghiệm lại</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">PCR</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Gửi mẫu tới viện trung ương và khu vực</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
    <label class="bold">Những quy trình khác xin nêu cụ thể:</label>
    <input type="text" class="form-control">
        <div class="form-group row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-7">
                
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">21. Phòng xét nghiệm của bạn có thể chuẩn đoán nhiễm HIV-1 và nhiễm HIV-2 được không?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Có</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Không</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <p>Nếu "Có", xin hãy liệt kê xét nghiệm dùng để chuẩn đoán</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <p class="bold text-center">a. Tên xét nghiệm</p>
    </div>
    <div class="col-md-6">
        <p class="bold text-center">b. Mô tả</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-6 text-center">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</button>
    </div>
    <div class="col-md-1 text-center">
        <button class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button>
    </div>
</div>
<table class="table table-striped margin-top-20 text-center">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên xét nghiệm</th>
        <th>Mô tả</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="form-group row">
    <div class="col-md-12">
        <label class="bold">22. Phòng xét nghiệm có thực hiện xét nghiệm Western blot không?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <p>Nếu "Có". Ghi rõ tên sinh phẩm sử dụng và tiêu chuẩn xác định kết quả Western blot dương tính(Nêu các bảng và tiêu chuẩn áp dụng)</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <input type="text" class="form-control">
    </div>
</div>