<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">1. Tên đơn vị:</label>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">2. Tên người trả lời:</label>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">3. Tên người liên lạc:</label>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="font-red col-md-3">
        <label class="bold">- Giống tên người trả lời:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">4. Chức vụ của bạn trong phòng XN:</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">5. Số năm làm việc tại vị trí này:</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">6. Tổng số năm kinh nghiệm:</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label class="bold">7. Địa chỉ chi tiết của phòng XN:</label>
    </div>
</div>
<div class=" form-group row">
    <div class="col-md-3">
        <p class="bold ">- Đường phố:</p>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control">
    </div>
</div>
<div class=" form-group row">
    <div class="col-md-3">
        <p class="bold ">- Tỉnh thành phố:</p>
    </div>
    <div class="col-md-9">
        <ui-select ng-model="vm.lab.code" sortable="true" close-on-select="true" style="width: 100% !important;">
            <ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="lab in vm.labs | propsFilter: {name: $select.search}">
                <div class="bold" ng-bind-html="lab.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class=" form-group row">
    <div class="col-md-3">
        <p class="bold">- Quận/huyện:</p>
    </div>
    <div class="col-md-3">
        <ui-select ng-model="vm.lab.code" sortable="true" close-on-select="true" style="width: 100% !important;">
            <ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="lab in vm.labs | propsFilter: {name: $select.search}">
                <div class="bold" ng-bind-html="lab.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-3 text-right">
        <p class="bold ">- Phường/xã:</p>
    </div>
    <div class="col-md-3">
        <ui-select ng-model="vm.lab.code" sortable="true" close-on-select="true" style="width: 100% !important;">
            <ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="lab in vm.labs | propsFilter: {name: $select.search}">
                <div class="bold" ng-bind-html="lab.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class=" form-group row">
    <div class="col-md-3">
        <p class="bold ">- Điện thoại:</p>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-3 text-right">
        <p class="bold">- Điện thoại di động:</p>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control">
    </div>
</div>
<div class=" form-group row">
    <div class="col-md-3">
        <p class="bold ">- Fax:</p>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control">
    </div>
    <div class="col-md-3 text-right">
        <p class="bold">- Email:</p>
    </div>
    <div class="col-md-3">
        <input type="email" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <p class="bold ">8. Phòng xét nghiệm thuộc:</p>
    </div>
    <div class="col-md-3">
        <ui-select ng-model="vm.lab.code" sortable="true" close-on-select="true" style="width: 100% !important;">
            <ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="lab in vm.labs | propsFilter: {name: $select.search}">
                <div class="bold" ng-bind-html="lab.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control">
    </div>
</div>