<div class="form-group row">
    <div class="col-md-7">
        <label class="bold">10. Khoa xét nghiệm của bạn có những bộ phận nào? (Bạn có thể đánh dấu nhiều lựa chọn)</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Huyết học</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Sinh học phân tử</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Viruss học</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Miễn dịch học</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Hóa học/Sinh hóa</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Vi sinh</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-2">
        <label class="bold">Xét nghiệm nấm/KST</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Không tách riêng các bộ phận</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-3">
        <label class="bold">Bộ phận khác (nếu có)</label>
        <input type="text" class="form-control" >
    </div>	    
</div>
<div class="form-group row">
    <div class="col-md-7">
        <label class="bold">11. Khoa xét nghiệm của bạn có phòng xét nghiệm riêng cho XN HIV không?</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-1">
        <label class="bold">Có</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-1">
        <label class="bold">Không</label>
    </div>
    <div class="col-md-1 text-right">
        <input type="checkbox">
    </div>
    <div class="col-md-4">
    	<label class="bold">Khác (ghi rõ):</label>
    	<input type="text" class="form-control" >
        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-7">
        <label class="bold">12. Điều kiện thông tin liên lạc của phòng xét nghiệm chỗ bạn?</label>
    </div>
</div>
<table class="table table-striped margin-top-20 text-center">
    <thead>
    <tr>
        <th>Phương tiện</th>
        <th>Có/Không</th>
        <th>Số lượng</th>
        <th>Ghi chú</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Chuyên môn XN</td>
        <td>100</td>
        <td>60</td>
        <td>Có</td>
        <td>
            <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
    </tbody>
</table>