<!-- BEGIN PAGE HEADER-->
<div class="page-head">
    <h3 class="page-title"><i class="icon-grid margin-right-10"></i> Loại đơn vị </h3>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="btn-group pull-left margin-top-10 margin-bottom-10">
                    <button class="btn btn-default" data-ng-click="vm.newOrgType()"><i class="fa fa-plus-circle"></i> Thêm mới</button>
                    <button class="btn btn-danger margin-left-10" data-ng-click="vm.deleteOrgTypes()" data-ng-disabled="vm.selectedOrgTypes.length <= 0"><i class="fa fa-trash"></i> Xóa bản ghi đã chọn</button>
                </div>
                <table id="bsTableControl" bs-table-control="vm.bsTableControl"></table>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script type="text/ng-template" id="add_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title bold font-yellow-gold"><i class="fa fa-plus-circle"></i> Thêm mới</h4>
        </div>
        <div class="modal-body">
            <div class="box-body box-profile">
                <div class="box-body">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Mã loại đơn vị: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Tên loại đơn vị: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Mô tả: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Lưu</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="edit_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title bold font-yellow-gold"><i class="icon-pencil margin-right-5"></i> Sửa</h4>
        </div>
        <div class="modal-body">
            <div class="box-body box-profile">
                <div class="box-body">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Mã loại đơn vị: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Tên loại đơn vị: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="bold">Mô tả: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Lưu</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title bold font-yellow-gold"><i class="fa fa-trash"></i> Xóa</h4>
        </div>
        <div class="modal-body">
            <div class="box-body box-profile">
                <h3 class="bold text-center">Bạn có thật sự muốn xóa những loại đơn vị sau?</h3>
                <table class="table table-striped margin-top-20 text-center">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên đơn vị</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="selectDelete in vm.selectedOrgTypes">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ selectDelete.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Xóa</button>
        </div>
    </div>
</script>
<!-- BEGIN MAIN JS -->