<div class="form-group row">
    <div class="col-md-7">
        <p class="bold">9. Có bao nhiêu nhân viên trong phòng xét nghiệm HIV của bạn?</p>
    </div>
</div>
<!--<div class="form-group row">-->
    <!--<div class="col-md-3">-->
        <!--<p class="bold text-center">Trình độ chuyên môn</p>-->
    <!--</div>-->
    <!--<div class="col-md-1">-->
        <!--<p class="bold text-center">Số lượng</p>-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
        <!--<p class="bold text-center">Số cán bộ liên quan đến XN HIV</p>-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
        <!--<p class="bold text-center">Có đủ cán bộ không?</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
    <!--<div class="col-md-3">-->
        <!--<ui-select ng-model="vm.lab.code" sortable="true" close-on-select="true" style="width: 100% !important;">-->
            <!--<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>-->
            <!--<ui-select-choices repeat="lab in vm.labs | propsFilter: {name: $select.search}">-->
                <!--<div class="bold" ng-bind-html="lab.name | highlight: $select.search"></div>-->
            <!--</ui-select-choices>-->
        <!--</ui-select>-->
    <!--</div>-->
    <!--<div class="col-md-1">-->
        <!--<input type="text" class="form-control">-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
        <!--<input type="text" class="form-control">-->
    <!--</div>-->
    <!--<div class="col-md-2 text-center">-->
        <!--<input type="checkbox">-->
    <!--</div>-->
    <!--<div class="col-md-1 text-center">-->
        <!--<button class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>-->
    <!--</div>-->
    <!--<div class="col-md-1 text-center">-->
        <!--<button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</button>-->
    <!--</div>-->
    <!--<div class="col-md-1 text-center">-->
        <!--<button class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button>-->
    <!--</div>-->
<!--</div>-->

<table class="table table-striped margin-top-20 text-center">
    <thead>
    <tr>
        <th>Trình độ chuyên môn</th>
        <th>Tổng số có</th>
        <th>Số cán bộ liên quan đến XN HIV</th>
        <th>Có đủ cán bộ không (Có/Không)</th>
        <!--<th>Hành động</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Chuyên môn XN</td>
        <td>100</td>
        <td>60</td>
        <td>Có</td>
        <!--<td>-->
            <!--<a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
            <!--<a><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
        <!--</td>-->
    </tr>
    </tbody>
</table>
