@mixin rounded($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin rounded-top($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
}

@mixin rounded-bottom($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
}

@mixin rounded-right($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-bottomright: $radius;
}

@mixin transitioning($seconds) {
  transition: all $seconds !important;
  -webkit-transition: all $seconds !important;
  -moz-transition: all $seconds !important;
}

body {
  -webkit-font-smoothing: antialiased !important;
  &.no-texture {
    background-image: none !important;
  }
}

.btn,
input,
a {
  @include transitioning(0.3s);
}

/* Login page */
.login {
  background-color: #dde3ec !important;

  .logo {
    margin-top: 10px !important;
  }

  .content {
    margin-top: 0 !important;

    .login-options {
      margin-bottom: 10px !important;
    }
  }

  .copyright {
    margin-bottom: 10px !important;
  }
}

.page-header.navbar {
  height: 50px !important;
  min-height: 50px !important;

  .page-logo,
  .page-top {
    height: 50px !important;
  }

  //+.clearfix {
  //  height: 1px !important;
  //}
}

.nav-item.start > a {
  border-top: none !important;
}

.navbar-nav>li>a {
  font-size: 14px !important;
  padding-top: 11px !important;
  padding-bottom: 10px !important;
  color: #828282 !important;
  height: 50px;

  &:hover {
    background-color: #4f4f4f !important;
  }
}

.page-header.navbar .menu-toggler > span, .page-header.navbar .menu-toggler > span:after, .page-header.navbar .menu-toggler > span:before {
  height: 2px;
}

.btn-group > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .dropdown > .dropdown-menu:before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  display: inline-block !important;
  border-right: 0px solid transparent !important;
  border-bottom: 0px solid #e0e0e0 !important;
  border-left: 0px solid transparent !important;
  content: '';
}

.page-quick-sidebar-wrapper {
  &.calendar {
    background-color: white !important;
    -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    //border-left: 2px solid #263a51;

    .quick-sidebar-header {
      padding-top: 15px;
      padding-left: 20px;
      border-left-color: #9dbdd9 !important;
      background-color: #263a51 !important;
      height: 50px;
      font-weight: 600;
    }

    .page-quick-sidebar-chat-users {
      padding: 10px 20px !important;
      color: #555555 !important;
    }
  }
}

.btn-group > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .dropdown > .dropdown-menu:after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  display: inline-block !important;
  border-right: 0px solid transparent !important;
  border-bottom: 0px solid #fff !important;
  border-left: 0px solid transparent !important;
  content: '';
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
  font-size: 14px !important;
}

.btn-group > .btn.btn-default.active {
  border: 1px solid #158F76 !important;
  background-color: #158F76 !important;
  color: white !important;
}

.btn-group {
  &.custom {
    input[type="checkbox"] {
      display: none;
    }
  }
}

ul.dropdown-menu {

  & > li {
    font-family: Quicksand, "Open Sans", sans-serif !important;

    & > a {
      font-weight: 500 !important;
    }

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &.dropdown-menu-default,
  &.pull-left,
  &.pull-right {
    font-family: Quicksand, "Open Sans", sans-serif !important;
  }
}

.langname {
  font-size: 14px;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.portlet {
  @include rounded(5px);
}

.portlet.light > .portlet-title {
  min-height: 10px !important;

  & > .tools,
  & > .actions {
    padding-bottom: 6px !important;
  }

}

/* bootstrap-table check-all alignment fixed */
div.th-inner > label.mt-checkbox {
  margin-left: 10px !important;
}

.fixed-table-container .bs-checkbox .th-inner {
  padding: 8px 13px !important;
}

.result-row {

  &.row-header {
    &>div {
      padding: 5px 0;
      background-color: #f2f2f2;
      border-bottom: 1px solid #dddddd !important;
      font-weight: 500;
    }
  }

  &:not(.row-header) > div {
    padding-top: 10px;
    padding-bottom: 10px;

    &>.row > div:first-child {
      padding-top: 8px;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &:not(:last-child) {
    &>div {
      border-bottom: 1px dotted #dddddd;
    }
  }
}

/* page-title override */
.page-title {

  &> small > a{
    font-weight: 600;
    color: #00a65a;
    border-bottom: 1px dotted #00a65a;
    @include transitioning(0.3s);

    &:hover,
    &:active,
    &:focus {
      color: #D64635;
      border-bottom-color: #D64635;
    }
  }

  &.pull-left {
    margin: 5px 0 !important;
  }
  &.sub-title {
    font-size: 20px;
    padding-bottom: 10px;
    &.with-border-bottom {
      border-bottom: 1px solid #cccccc;
    }
  }
}

.page-header-fixed .page-container {
  margin-top: 0 !important;
}

//.page-container {
//background-color: #ffffff;
//}

.page-container {
  background-color: #F2F3F8 !important;
}

.scroll-to-top>i {

}

.page-container-bg-solid .page-bar,
.page-content-white .page-bar {
  margin-top: -10px !important;
  border-bottom: 0 !important;
}

.page-content-wrapper {
  padding-top: 0 !important;

  & > .page-content {
    background-color: #f2f3f8;
    min-height: 550px;

    .page-bar {
      background-color: #f2f3f8;
      display: block !important;
    }
  }
}

.page-footer-inner {
  //border-top: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  & > span.bar {
    display: inline-block;
    width: 190px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: -10px;
    background-color: #5F6A7E;
  }
}

.tab-content.pdfviewer {
    &>.tab-pane {
      width: 100%; height: 800px; border: 1px solid #dddddd;
    }
}

.section-header {
  padding-bottom: 5px;
  border-bottom: 1px dashed #dddddd;
}

.is-sticky.custom {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-style: solid !important;
  -webkit-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
  -moz-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
  box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
  background-color: white !important;

  &>.heading {
    background-color: transparent !important;
    border-left: none !important;
    border-right: none !important;
  }

  @include rounded-bottom(4px);
}

.entry-screen {
  .buttons {
    border-bottom: 1px dashed #dddddd;
  }

  .heading {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff7e2;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px dashed #dddddd;
    border-right: 1px dashed #dddddd;
    border-left: 1px dashed #dddddd;
  }
}

.center {
  text-align: center !important;
}

.nav-tabs {
  & > li {
    padding-bottom: 0 !important;

    &:not(.active) {
      //border-bottom: 1px solid #dddddd !important;
    }

    & > a {
      padding-bottom: 5px !important;
    }

    &.active {
      font-weight: 500 !important;
      border-bottom-width: 4px !important;
    }
  }

  &.tabs-right {
    border-left-color: transparent !important;
    //min-height: 300px;
    &.nav-tabs > li.active,
    &.nav-tabs > li {
      > a {
        margin-left: -2px !important;
      }
    }
    & > li {
      & > a {
        background-color: transparent;
        &.bigger {
          font-size: 18px;
        }
      }

      &.active {
        background-color: white !important;
        //margin-left: -1px;
        //border-left: 1px solid white;
        border-right: 3px solid #515A67;

        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;

        -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
        -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
        box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);

        > a {
          background-color: white !important;
          margin-left: -2px !important;
          border: 1px solid #e7ecf1 !important;
          border-left-color: white !important;
        }
      }
    }
  }
}

.bootstrap-table {
  .table {
    border-bottom-width: 0px !important;

    td {
      font-weight: 500 !important;
    }
  }
}

.md-radio label > .box,
.md-checkbox label > .box {
  border-width: 1px !important;
  border-color: #AAAAAA !important;
}

.mce-tinymce.mce-container.mce-panel {
  //border-top: 0!important;
  //border-left: 0 !important;
  //border-right: 0 !important;
  //border: 1px dashed #dddddd !important;
  //border: 0 !important;
  //background-color: white !important;
  border: 1px solid #d2d6de !important;

  & > div > div {
    background-color: transparent !important;
    & > .mce-container-body.mce-stack-layout {
      background-color: #f0f0f0 !important;
      //border: 1px solid #dddddd;
      @include rounded(3px);
      & > div > .mce-container-body.mce-flow-layout {
        //background-color: white !important;
        .mce-btn {
          @include rounded(3px);
        }
      }
    }
  }

  //.mce-edit-area {
  //  border: 1px dashed #dddddd !important;
  //  @include rounded(3px);
  //}
}

//.mce-toolbar-grp.mce-container.mce-panel {
//  background-color: transparent !important;
//}

.tab-content-container {
  //border-top: 1px solid #dddddd;
  //border-left: 1px solid #dddddd;
  //border-bottom: 1px solid #dddddd;
  border: 1px solid #e7ecf1;
  padding-bottom: 40px;
  padding-right: 25px;

  //margin-left: 15px;
  margin-right: -15px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;

  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);

  @include rounded(5px);

  &.event-edit {
    min-height: 500px;
  }

  .tab-content {
    padding-top: 20px;
    padding-left: 10px;
  }

  .corner-right,
  .corner-left {
    position: absolute;
    left: 0;
    top: -1px;
    width: 1px;
    height: 250px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#00000000', GradientType=0); /* IE6-9 */
  }

  .corner-right {
    top: 255px !important;
    left: auto !important;
    right: -1px !important;
  }
}

.datetimepicker table td,
.datetimepicker table th {
  color: #555555;
  font-weight: 500 !important;
}

.dropdown-menu {
  font-family: Quicksand, "Open Sans", sans-serif !important;
  font-weight: 500 !important;

  & > li {

    & > a {
      &:hover,
      &:active,
      &:focus {
        color: #4AC4D1 !important;

        & > i {
          color: #4AC4D1 !important;
        }
      }
    }

    &.user-photo {
      background: url('../images/md-header-bg2.jpg');
      background-size: cover !important;
      text-align: center !important;
      padding: 20px 0 20px 0;
      margin-top: 0 !important;

      & > img.img-circle {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }

  /*
  Mimic cursor style from native .dropdown-menu > .disabled > a{} styles,
  since `pointer-events: none` kills the cursor state, too.
  */
  & > .disabled {
    cursor: not-allowed;
    /* The real magic ;) */
    & > a,
    & > a > i,
    & > a:hover,
    & > a:focus,
    & > a:visited {
      background-color: transparent !important;
      color: #BBBBBB !important;
      pointer-events: none;
    }
  }
}

/*
Form controls validation
*/
.ng-dirty.ng-valid {
  //border-color: #3c763d;
}

.ng-dirty.ng-invalid {
  //border-color: #f21717;
}

/* Dialog close button */
.close {
  margin-top: 5px;
  background-image: url(../images/remove-icon-small.png) !important;
}

.modal .modal-header .close {
  margin-top: 8px !important;
}

/* List overriden */
.mt-list-container.list-simple.ext-1 {
  border-top: 1px solid #e7ecf1;
}

.input-group {
  & > input.form-control,
  & > .input-group-addon {
    height: 36px !important;
  }
}

/* ng-datepicker style */
div.form-control > input[type="text"] {
  border: 0 !important;
  width: 100% !important;
  outline: 0 !important;
  -moz-outline-color: transparent;
}

.form-control {
  font-weight: 500 !important;

  &:not(textarea):not(div) {
    height: 36px !important;

    &.special-input1 {
      border-width: 0;
      border-bottom: 1px dashed #dddddd;
      font-size: 15px;

      &.error {
        border-botom-color: red !important;
      }

      &.large-padding {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &.large-text {
        font-size: 18px !important;
        font-weight: 500 !important;
      }

      &:active, &:focus {
        border-bottom-color: #44c7b0;
      }
    }

    &.link {
      cursor: pointer;

      a.close {
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }

    &:hover,
    &:focus,
    &:active {
      border-color: #00acd6;
      color: #00acd6;
    }
  }
}

.ann_item {
  &:not(:last-child) {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 150px;
  }

  & > span.title {
    display: block !important;
    font-weight: 500;
    margin-top: 15px;
  }
}

span.form-control {
  position: relative;

  &.multiple {
    position: relative;
    min-height: 36px;
    height: auto !important;

    span.item {
      display: inline-block;
      padding: 5px 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 15px;
      border: 1px solid #dddddd;
      font-weight: 500;
      background-color: #f4f4f4;
      @include rounded(4px);
      @include transitioning(0.3s);

      & > a.close2 {
        margin-left: 5px;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: #dfdfdf;
        color: #333333;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: #555555;
    }
  }

}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
  }

  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    font-weight: 400;
    font-size: 13px !important;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 5px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    cursor: pointer;

    &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #eee;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
    }

    &:hover {
      background-color: #36C6D3;
      color: white;
      &::after {
        border-left-color: #36C6D3;
      }
    }

    &.red:hover {
      background-color: crimson;
      color: white;

      & > a > i {
        color: white !important;
      }

      &::after {
        border-left-color: crimson;
      }
    }
  }
}

.align-right {
  text-align: right !important;
}

.valign {
  &.middle {
    display: inline-block;
    vertical-align: middle
  }
}

/* ui-select fix */
.ui-select-container {
  i.glyphicon.glyphicon-remove {
    margin-top: 2px !important;
  }
}

.ui-select-choices {
  margin-top: 0 !important;
  //border: 1px solid #c2cad8;
}

.ui-select-match {
  & > .btn-default {
    background-color: white !important;
    border-radius: 0 !important;

    &[disabled="disabled"] {
      border-color: #d2d6de !important;
      background-color: #EEF1F5 !important;
    }

    & > .ui-select-placeholder {
      margin-top: -2px !important;
      font-weight: 600 !important;
    }
  }
}

.ui-select-match-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}

.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

.ui-select-placeholder, .ui-select-match-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
  display: inline-block;
}

.org-unit-panel {
  height: 400px;
  overflow: auto
}

.panel-group {
  margin-bottom: 0 !important;
  .panel {
    border: 1px solid #e3e3e3;
    @include rounded(3px);

    .panel-title {
      font-size: 15px !important;
      font-weight: 400;
    }

    .panel-heading {
      background-color: #fafafa !important;
    }

    &.child {
      border: 0 !important;

      .panel-heading {
        background-color: transparent !important;
        border-bottom: 1px dashed #dddddd !important;

        + .panel-collapse {
          & > .list-group,
          & > .panel-body {
            border: none !important;
          }
        }
      }
    }
  }

}

.panel-body {
  &.no-padding-tb {
    padding: 0 20px !important;
  }
  &.text-larger {
    font-size: 14px;
  }
}

.page-sidebar-menu {
  .sidebar-header {
    display: block;
    height: 86px;
    background: url('../images/md-header-bg.jpg');
    background-size: cover;
  }

  & > li.active > a > .selected {
    border-right-color: #f2f3f8 !important;
  }

  .nav-item {
    & > a {
      font-weight: 400 !important;
      //font-size: 1.35rem!important;
    }
  }

  .sub-menu {
    a {
      font-weight: 300 !important;
    }
  }
}

.pagination-detail {
  //font-size: small!important;
  color: #888;
}

.min-width-150 {
  min-width: 150px;
}

.btn,
.panel,
.badge {
  @include rounded(3px);
  box-shadow: none !important;
  text-transform: none !important;
  &.min-width-80 {
    min-width: 80px !important;
  }

  &.btn-outline[disabled],
  &.btn-outline.disabled {
    border: 1px solid #888888 !important;
    background: transparent;
    color: #888888 !important;
  }

  //0 0 15px 1px rgba(113,106,202,.2)
}

.btn-group > .dropdown-menu,
.dropdown-menu,
.md-shadow-z-2-i {
  -webkit-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
  -moz-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
  box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
}

/* logo adjustment */
.page-header.navbar {
  .page-logo .logo-default {
    margin-top: 5px !important;
    height: 38px !important;
  }

  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.keyboard-sign {
  position: relative;

  &.for-autocomplete {
    input {
      padding-left: 40px;
    }

    > i {
      color: #eeeeee;
      font-size: 20px;
      margin-left: 10px;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
}

.no-content1 {
  border: 1px dashed #dddddd;
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  @include rounded(2px);

  & > i.fa,
  & > span {
    display: inline-block !important;
  }

  &.display-inlineblock {
    display: inline-block !important;
  }

  &.display-block {
    display: block !important;
  }

  &.link {
    cursor: pointer;
    @include transitioning(2s);

    &:hover,
    &:focus,
    &:active {
      color: #337ab7;
    }
  }
}

.font-lg {
  &._18px {
    font-size: 18px !important;
  }

  &._20px {
    font-size: 20px !important;
  }

  &._22px {
    font-size: 22px !important;
  }

  &._32px {
    font-size: 32px !important;
  }

  &._48px {
    font-size: 48px !important;
  }
}

.text-muted {
  &.mutter {
    color: #dddddd;
  }
}

.tabs-left {
  &.nav-tabs {
    border-right-width: 0 !important;

    & > li.active {
    }

    & > li.active > a:focus,
    & > li.active > a:hover,
    & > li.active > a {
      position: relative;
      border-right: 1px solid #dddddd;
      background-color: #EFEFEF;
      z-index: 999;

      &:after,
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;

        top: 50%;
        //top: calc(50% - 10px);
        //top: -webkit-calc(50% - 10px);
        //top: -moz-calc(50% - 10px);
        z-index: 1000;
      }

      &:after {
        top: 10px;
        border-color: transparent transparent transparent #EFEFEF;
        border-width: 10px;
      }

      &:before {
        top: 9px;
        border-color: transparent transparent transparent #cccccc;
        border-width: 11px;
      }
    }
  }
}

.page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
  font-weight: 300 !important;
}

.mt-element-list .list-news.mt-list-container {
  border-width: 0 !important;
  padding-right: 20px !important;
  ul>.mt-list-item {

  }
}

.page-head {
  .page-toolbar,
  .page-title {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: relative;
    display: inline-block;

    &>.small-menu {
      position: absolute;
      right: 0;
      top: 30px;
      max-width: 50px;
    }

    &> a {
      border-bottom: 1px dashed #3598DC;
      &:hover,
      &:active,
      &:focus {
        color: #D64635;
        border-bottom-color: #D64635;
      }
    }
  }
}

.support-container {
  margin: 10px 0 0 0;
  border: 1px dashed #dddddd;
  background-color: #f9f6e0;
  @include rounded(4px);

  .calendar-item {

    display: inline-block;
    padding: 10px 20px;

    &.scope-office {
      & > i {
        color: #E87E04;
      }
    }

    &.scope-department {
      & > i {
        color: #36A3F7;
      }
    }

    &.scope-personal {
      & > i {
        color: #716ACA;
      }
    }

    &.scope-google {
      & > i {
        color: #C4C5D6;
      }
    }

    &.completed {
      & > i {
        color: #888;
      }
    }

    &.cancelled {
      & > i {
        font-weight: 300;
        color: #888;
      }

      & > span {
        text-decoration: line-through;
      }
    }
  }

  .filter-panel {
    border-top: 1px dashed #dddddd;
    margin: 0 20px 0 20px;
    padding-top: 10px;

    & > div:first-child {
      padding-top: 2px;
    }
  }
}

.fc-view-container {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

  .fc-day-number {
    font-weight: 400;
    font-size: 15px !important;
    display: inline-block;
    padding-right: 5px;
  }

  .fc-day-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .fc-day-top.fc-today {
    & > .fc-day-number {
      font-weight: 500 !important;
      color: #E87E04;
      width: 24px;
      height: 24px;
      padding: 3px !important;
      margin-top: 3px;
      margin-right: 3px;
      border: 1px solid #E87E04;
      background-color: white;
      text-align: center;
      @include rounded(15px);
    }
  }
}

.row {

  [class^="col-"],
  [class*="col-"] {
    &.left-pane-border {
      border-right: 1px dashed #d2d6de;
      padding-right: 40px;
    }

    &.right-pane-padding {
      padding-left: 40px;
    }
  }

  &.calendar-container {

    padding-left: 15px;
    padding-right: 15px;

    .vertical-align {
      display: flex;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      & > [class^="col-"],
      & > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Optional, to align inner items
                                     horizontally inside the column */
      }

      /**
       *  Do NOT include this part into your stylesheet.
       *  "flex: 1" or "flex-grow: 1" is added to make the inner div
       *  - Which is also a flex-item - take up all the horizontal space
       *  available space inside the flex container (.col-* elements)
       */
      & > [class^="col-"] > div,
      & > [class*=" col-"] > div {
        /* flex: 1; */
        flex-grow: 1;
      }

      &.day-view {
        border-left: 1px solid #ddd !important;

        border-bottom-left-radius: 0 !important;
        -moz-border-radius-bottomleft: 0 !important;
        -webkit-border-bottom-left-radius: 0 !important;

        .item-holder > .corner {
          left: -1px !important;
        }
      }

      .text-smaller {
        font-size: 12px !important;
      }

      .action {
        & > .btn {
          font-size: 12px !important;
          padding: 5px 10px !important;
        }
      }

      & > .date {
        background-color: #f4f5f8;
        text-align: center;
        white-space: nowrap;
        min-width: 150px;

        & > div > span {
          font-weight: 500;
          text-align: center;
          font-size: 17px;

          &:first-child {
            & > span {
              display: block;
              &:first-child {
              }
              &:nth-child(2) {
                margin-top: 5px;
                font-size: 14px;
                font-weight: 400;
              }
              &:last-child {
                margin-bottom: 20px;
              }
            }
          }

          &:nth-child(2) {
            font-size: 20px;
            margin-bottom: 5px;
            display: block;
          }

          &:last-child {
            color: #dddddd;
            border-top: 2px solid #dddddd;
            display: inline-block;
            font-size: 30px;
          }
        }

        & > div.empty > span {
          font-weight: 400;
          text-align: center;
          font-size: 14px;

          &:first-child {
            margin-top: 15px;
            margin-bottom: 10px;
            display: block;
          }

          &:nth-child(2) {
            font-size: 15px;
            margin-bottom: 5px;
            display: block;
          }

          &:last-child {
            color: #dddddd;
            border-top: 2px solid #dddddd;
            display: inline-block;
            font-size: 20px;
            margin-bottom: 15px;
          }
        }
      }

      .row {
        &.item:not(:last-child) {
          border-bottom: 1px dashed #dddddd;
        }

        &.item {

          min-height: 170px;

          .no-calendar-items {
            position: relative;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

            & > i {
              font-size: 30px;
              color: #cccccc;
            }

            & > span {
              position: absolute;
              top: 12px;
              left: 60px;
              display: inline-block;
              font-size: 15px;
              color: #888888;
            }
          }

          .event-title {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
          }

          .chair-person {
            font-weight: 500;
          }

          &.scope-office {
            border-left: 1px solid #E87E04;

            .event-title {
              & > span {
                font-weight: 300 !important;
                font-size: 13px !important;
              }

              &.cancelled > a {
                text-decoration: line-through;
              }

              & > i {
                color: #E87E04;
              }
            }
          }

          &.scope-department {
            border-left: 1px solid #36A3F7;

            .event-title {
              & > span {
                font-weight: 300 !important;
                font-size: 13px !important;
              }

              &.cancelled > a {
                text-decoration: line-through;
              }

              & > i {
                color: #36A3F7;
              }
            }
          }

          &.scope-personal {
            border-left: 1px solid #716ACA;

            .event-title {
              & > span {
                font-weight: 300 !important;
                font-size: 13px !important;
              }
              &.cancelled > a {
                text-decoration: line-through;
              }
              & > i {
                color: #716ACA;
              }
            }
          }

          &.scope-google {
            border-left: 1px solid #C4C5D6;

            .event-title > i {
              color: #C4C5D6;
            }
          }
        }
      }

      .ribbon {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
        text-align: right;

        span {
          font-size: 10px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          line-height: 20px;
          transform: rotate(45deg);
          width: 100px;
          display: block;
          background: #79A70A;
          background: linear-gradient(#9BC90D 0%, #79A70A 100%);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          position: absolute;
          top: 19px;
          right: -21px;

          &::before {
            content: '';
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #79A70A;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #79A70A;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0%;
            top: 100%;
            z-index: -1;
            border-right: 3px solid #79A70A;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #79A70A;
          }

        }

        &.red {
          span {
            background: linear-gradient(#F70505 0%, #8F0808 100%);
            &::before {
              border-left-color: #8F0808;
              border-top-color: #8F0808;
            }
            &::after {
              border-right-color: #8F0808;
              border-top-color: #8F0808;
            }
          }
        }

        &.blue {
          span {
            background: linear-gradient(#2989d8 0%, #1e5799 100%);
            &::before {
              border-left-color: #1e5799;
              border-top-color: #1e5799;
            }
            &::after {
              border-right-color: #1e5799;
              border-top-color: #1e5799;
            }
          }
        }
      }

      .item-holder {
        position: relative;

        & > .corner {
          position: absolute;
          top: 0;
          left: 0;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          line-height: 0px;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

          &.scope-office {
            border-color: #E87E04 transparent transparent transparent;
            _border-color: #E87E04 #000000 #000000 #000000;
          }

          &.scope-department {
            border-color: #36A3F7 transparent transparent transparent;
            _border-color: #36A3F7 #000000 #000000 #000000;
          }

          &.scope-personal {
            border-color: #716ACA transparent transparent transparent;
            _border-color: #716ACA #000000 #000000 #000000;
          }

          &.scope-google {
            border-color: #C4C5D6 transparent transparent transparent;
            _border-color: #C4C5D6 #000000 #000000 #000000;
          }

        }
      }

      .time-place {
        margin-left: -15px;
        display: inline-block !important;
        width: 200px !important;
        margin-right: 20px;
        padding: 20px;
        color: #555;

        i {
          color: #dddddd;
          margin-right: 5px;

          &.purple {
            color: #716ACA;
          }

          &.green {
            color: #2BBACB;
          }

          &.red {
            color: #F4516C;
          }
        }

        & > p {
          margin: 10px 0;
          &.date-time {
            font-weight: 500;
          }

          &.item-status {
            margin: 10px 0;
            padding: 5px 0;
            border-bottom: 1px dashed #dddddd;
            color: #716ACA;
          }
        }

        & + div {
          display: inline-block !important;
          width: calc(100% - 222px);
          width: -moz-calc(100% - 222px);
          width: -webkit-calc(100% - 222px);
        }
      }

      .semi-bold {
        font-weight: 500;
        color: #158F76 !important;

        &:hover,
        &:active {
          color: #DC143C !important;
        }
      }

      .attendees {
        display: block;
        border-bottom: 1px dashed #dddddd;
        margin-bottom: 10px;
        font-weight: 500;
        color: #AAAAAA;
      }

      .border-left {
        border-left: 1px solid #dddddd;
      }

      blockquote {
        display: block !important;
        background: #fff;
        padding: 10px 20px 10px 45px !important;
        margin: 5px 0 5px !important;
        position: relative;
        border: none !important;

        /*Font*/
        font-size: 16px;
        line-height: 1.2;
        color: #666;
        text-align: justify;

        &::before {
          content: "\201C"; /*Unicode for Left Double Quote*/

          /*Font*/
          font-family: Georgia, serif;
          font-size: 60px;
          font-weight: bold;
          color: #eee;

          /*Positioning*/
          position: absolute;
          left: 5px;
          top: 5px;
        }

        &::after {
          /*Reset to make sure*/
          content: "";
        }

      }
    }

    & > div {
      & > .row.today {
        border-left: 1px solid #FFB822 !important;
        -webkit-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
        -moz-box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;
        box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2) !important;

        & > .date {
          background-color: #FEF3DD;
        }
      }
    }

    & > div:first-child {
      background-color: #f4f5f8;
      border-bottom: 1px solid #dddddd;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 500;
      text-transform: uppercase;
      @include rounded-top(4px);
    }

    & > div:not(:first-child) {
      & > .row {
        padding: 15px 0;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-top: none;

        &:last-child {
          border-bottom-style: solid !important;
          @include rounded-bottom(4px);
        }
      }
    }
  }

  /*
 * Row with equal height columns
 * --------------------------------------------------
 */
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    & > [class*='col-'] {
      display: flex;
      flex-direction: column;

      &.valign-middle {
        align-items: center;
        justify-content: center;
      }

      &.border-right {
        border-right: 1px dashed #dddddd;
      }
    }
  }

  .special-tab1 {
    .tab-content {
      padding-top: 0;
      padding-left: 0;
      position: relative;
      min-height: 350px;

      @include rounded(2px);

      .corner-hoz,
      .corner-hoz2 {
        position: absolute;
        left: -30px;
        width: calc(100% + 30px);
        width: -webkit-calc(100% + 30px);
        width: -moz-calc(100% + 30px);
        height: 10px;
        @include rounded(4px);
      }

      .corner-hoz {
        border-top: 1px solid #dddddd;
        top: 0;
      }

      .corner-hoz2 {
        bottom: 0;
        border-bottom: 1px solid #dddddd;
      }

      .corner2 {
        position: absolute;
        left: -30px;
        top: 0;
        height: 100%;
        width: 1px;
        border-left: 1px solid #dddddd;
      }

      .corner3 {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 10px;
        border-right: 1px solid #dddddd;
        @include rounded(4px);
      }
    }
  }
}

.btn-default {
  &.active {
    background-color: #158F76 !important;
    border-color: #158F76 !important;
    color: white !important;
  }

  &.width-150 {
    width: 150px !important;
  }
  &.width-120 {
    width: 120px !important;
  }
  &.width-100 {
    width: 100px !important;
  }
  &.checkbox-type,
  &.radio-type {
    &:before {
      content: ' ';
      white-space: pre;
    }

    &.active,
    &:active {
      border: 1px solid #158e78;
      background-color: #44C7B0;
      color: white;

      &:before {
        font-family: FontAwesome;
        content: '\f00c'
      }
    }
  }

  &.ui-select-toggle {
    //height: 37px !important;

    > .ui-select-match-text {
      margin-top: -3px;
      padding: 1px 10px !important;
    }

    > a.btn {
      top: -25px;
      height: 20px;

      > i.glyphicon {
        color: #AAAAAA;
      }
    }
  }

  &.radio-type {
    &.active,
    &:active {
      &:before {
        font-family: FontAwesome;
        content: '\f192'
      }
    }
  }
}

.instruction {
  padding: 15px;
  border: 1px dashed #dddddd;
  background-color: #fffde8;
}

.menu-toggler {
  margin-top: 10px !important;
  i {
    color: #3a3a3a;
  }
}

.block-spinner-bar > div, .page-spinner-bar > div {
  background: #778da9 !important;
}

.clear-buttom {
  top: -25px !important;
}

.modal-lg1 {
  width: 85%;
  .margin-top-10 {
    margin-top: 5px !important;
  }
}

.padding-left-right-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-right-20 {
  padding-right: 20px;
}

.validate {
  color: red;
  margin: 0px 0px;
}

.title-row {
  margin-bottom: 5px;
  margin-top: 5px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #e7ecf1;
  font-size: 15px;
  color: #337ab7;
}

.popup {
  margin: 10px 10px 0px 10px;
}

.form-group {
  margin-bottom: 5px !important;
}

.portlet.light {
  padding-top: 0px !important;
}

.dateTwo {
  padding: 0px 0px;
}

.margin-top-0 {
  margin-top: 0px !important;
}

input.validateCode {
  text-transform: uppercase !important;
}

input.capitalize {
  text-transform: capitalize !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.font-bold {
  font-weight: bold !important;
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 3px !important;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  height: 1.87em !important;
  margin-bottom: 0px !important;
  padding-left: 13px;
}

.margin-top-22 {
  margin-top: 22px !important;
}

@media (max-width: 768px) {
  .width-5 {
    width: 12% !important;
    padding: 0px 5px !important;
  }
  .width-55 {
    width: 48% !important;
    padding: 0px 5px !important;
  }
  .width-20 {
    width: 20% !important;
    padding: 0px 5px !important;
  }

}

.margin-left-5 {
  margin-left: 5px;
}

@media (max-width: 840px) {
  .width-fix {
    width: 19% !important;
  }
}

.lst-style {
  list-style: none;
}

.lst-style-padding-0 {
  list-style: none;
  padding: 0px;
}

/* modal */